<button type="button" class="cbbtn drawer-links" data-toggle="modal" data-target="#myModal2">
  Sign In
</button>

<!-- Modal -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Sign In</h4>
            </div>
            <div class="modal-body">
                <div class="userinfo">
                    <div class="accountinfo col-md-12">
                        <div class="email">
                            <input type="email" ng-model="email" placeholder="Email">
                        </div>
                        <div class="password-login">
                            <input type="password" ng-model="password" placeholder="Password">
                        </div>
                    </div>
                    <div class="confirm">
                        <button ng-click="login()">Let's do it.</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>